html,
body {
  margin: 0;
  height: 100%
}

ul,li{
   margin-bottom: 80px;
}

h1,
p {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 10px;
  left: 10px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EFEFEF;
}

.full-screen {
  display: flex;
  width: calc(1920px *3 );
  max-height:100vh;
  overflow:hidden;
  height: 100vh;
  background-color: rgba(184, 236, 230, 0.35);
  color: white;
}


#start img{
   width: 600px;
   box-shadow: 3px 3px 6px rgba(60, 145, 135, 0.3);
   z-index: 5;
}

.disc{
   width: 500px;
   height: 500px;
   border-radius: 50%;
   background: linear-gradient(90deg, rgba(184,236,230,1) 0%, rgba(178,227,152,1) 100%);
   z-index: 1;
   position: absolute;
   left: 600px;
}
.trigger-1{width: 10px;height: 10px; background-color: #fff; position: absolute; left:1200px;z-index: 10; opacity: 0;}

#section-1{
   border: 1px solid red;
}
.content{
   position: relative;
   left: -400px;
   line-height: 1.5;
}
.name > section{
   display: block;
   font-family: 'Lora', sans-serif;
   font-weight: 400;
   color: #227f74;
   float: left;
}
.name{
   padding-bottom: 30px;
}

.time, .performer{
   float:left;
   font-size: 16px;
   opacity: 0.5;
   vertical-align: middle;
   line-height: 43px;
   margin-right: 10px;
}
.time{
   clear: both;
}
.songname{
   font-size: 25px;
}
.performer{
   margin-left: 30px;
}
